
[build]
  command = "npm run build"
  publish = "dist"

# Handling SPA Routing: Redirect all requests to index.html 
# so React Router/State can handle the URL
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
